<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h1>This is login page.</h1>
  <form action="{% url 'logins' %}" method="post">
      {% csrf_token %}
       <label>username:</label>
      <input type="text" name="username" required>
<br><br>
      <label>password:</label>
      <input type="password" name="password">
<br><br>
      <input type="submit" value="Submit">
      <button type="button">
      <a href="{% url 'signup' %}">signup</a>
          </button>
  </form>
</body>
</html>